{{- /*gotype: gs/parser.Service*/ -}}
package {{ .Package }}

import (
	genSvc "{{ .Config.Module }}/gen/services/{{ .FormattedName }}"
	genHttp "demo/gen/transport/http"
	service "{{ .Import }}"
	chi "github.com/go-chi/chi/v5"
)

func New{{.Interface}}(otherOptions ...genSvc.Option) genSvc.GeneratedService {
	var options  = append([]genSvc.Option{}, otherOptions...)
	return genSvc.New(
			service.New(),
			options...
	)
}
