{{- /*gotype: gs/parser.Service*/ -}}
package {{ .Package }}

import (
	genSvc "{{ .Config.Module }}/{{.Config.Paths.Gen}}/services/{{ .FormattedName }}"
	genHttp "{{ .Config.Module }}/{{.Config.Paths.Gen}}/transport/http"
	service "{{ .Import }}"
	chi "github.com/go-chi/chi/v5"
)

func New{{.Interface}}(otherOptions ...genSvc.Option) genSvc.GeneratedService {
	var options  = append([]genSvc.Option{}, otherOptions...)
	return genSvc.New(
			service.{{.NewMethod}}(),
			options...
	)
}
