{{- /*gotype: gs/parser.Service*/ -}}
package main

import (
	svc "{{ .Config.Module }}/{{ .Config.Paths.Config }}/services/{{ .FormattedName }}"
	"github.com/aws/aws-lambda-go/lambda"
	chiadapter "github.com/awslabs/aws-lambda-go-api-proxy/chi"
)

func main() {
	lambda.Start(chiadapter.NewV2(svc.New{{.Interface}}().Router()).Proxy)
}
