{{- /*gotype: gs/parser.Cron*/ -}}
package main

import (
	runner "github.com/robfig/cron/v3"
	cron "{{.Import}}"
)

func main() {
	c := runner.New()
	_,err := c.AddJob("{{.Schedule}}", cron.{{.NewMethod}}())
	if err != nil {
		panic(err)
	}
	c.Start()
}
